header {
    background-color: aquamarine;
    color: black;
    padding: 60px;
}

nav {
    background-color: cornflowerblue;
    
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}